[submodule "ace-submodule-schemalib-level1"]
	path = ace-submodule-schemalib-level1
	url = git@github.com:mverhiel/ace-submodule-schemalib-level1.git
	branch = main
[submodule "ace-submodule-subflowlib-level1"]
	path = ace-submodule-subflowlib-level1
	url = git@github.com:mverhiel/ace-submodule-subflowlib-level1.git
	branch = main
